*.iml
.gradle/
.kotlin/
local.properties
.idea/
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
supabase.local.properties
tools/node_modules/
**/serviceAccount*.json
tools/firebase-adminsdk*.json
